<!DOCTYPE html>
<html>
<head>
	<title>TA_Pro</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/styleLogin.css" />
</head>
   

   <div style="margin-left: 25%; position: fixed; border-right:5px dotted #420c7a;padding-right: 5%" position="fixed">
  <img class="mb-4" src="http://telesens-academy.com/wp-content/uploads/2016/11/cropped-TA-Logo-Violet-Background.png" alt="" width="120" height="120" style="margin-top:-10%;margin-left:10%;position:fixed">
     <body class="text-center">
      <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="color:#420c7a "><b>Login</b></h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div style="margin: 10%">
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #7f00c7">Sign in</button>
          <div style="margin-top: 5%">
            <a href="http://google.com">Forgot password?</a> 
          </div>
        </div>
      </form>
    </body>
  </div>
  <div style="float:right;margin-top:25%;margin-left: 53%">
    <body class="text-center">
      <form class="form-signin" style="width:120">
        <h1 class="h3 mb-3 font-weight-normal" style="color:#420c7a "><b>Sign Up</b></h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputFName" class="sr-only">First Name</label>
        <input type="text" id="inputFName" class="form-control" placeholder="First name" required autofocus>
        <label for="inputLName" class="sr-only">Last Name</label>
        <input type="text" id="inputLName" class="form-control" placeholder="Last name" required autofocus>
        <label for="inputContact" class="sr-only">Contact No.</label>
        <input type="tel" id="inputContact" class="form-control" placeholder="Contact No." required autofocus>
        <label for="inputPassword" class="sr-only">Enter New Password</label>
        <input type="password" id="inputOldPassword" class="form-control" placeholder="Enter New Password" required autofocus>
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputNewPassword" class="form-control" placeholder="Confirm Password" required autofocus>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> I agree to the Privacy Policy
          </label>
        </div>
        <div style="margin: 10%">
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #7f00c7">Sign Up</button>
        </div>
      </form>
    </body>
  </div>
 <!--  <p class="mt-5 mb-3 text-muted" position="fixed" style="margin-top: 90%;margin-left: 46%">&copy; 2017-2018</p> -->
</html>
